@import "../../../../styles/variables";

.btn {
  display: flex;
  width: 237px;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: 19px 0;
  font-family: "Anonymous Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
