/* Variables */
// Colors
$background-color: #090909;
$font-color: #F5F5F5;
$border-color: #F5F5F5;

// Fonts
$title-font: 'Humane', sans-serif;
$text-font: 'Anonymous Pro', monospace;

// Radius
$border-radius: 60px;
