/* Variables */
// Colors
$background-color: #090909;
$font-color: #f5f5f5;
$border-color: #f5f5f5;

// Fonts
$title-font: "Humane", sans-serif;
$text-font: "Anonymous Pro", monospace;

// Radius
$border-radius: 60px;
