main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 77.5px;
  padding-left: 30px;
  padding-right: 30px;
  h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 100% */
    text-transform: uppercase;
  }
}

.container-20 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img{
  width: 336.307px;
  height: 285px;
  object-fit: cover;

}
