<main>
  <div class="container-20">
    <h1>Je sculpte le virtuel pour en faire une réalité fonctionnelle.</h1>
    <div class="container-10">
      <p>
        Mon aventure en tant que développeur a débuté par des projets ludiques
        où je m'amusais à créer de petits jeux en langage de programmation. Ces
        premiers pas, marqués par une curiosité insatiable et un esprit créatif,
        m'ont permis de découvrir l'univers du code de manière intuitive et
        divertissante. Chaque projet était une occasion d'apprendre quelque
        chose de nouveau, d'expérimenter et de repousser mes limites techniques,
        tout en conservant cet aspect récréatif qui rendait l'apprentissage
        tellement plus stimulant. C'est à travers ces expériences que ma passion
        pour le développement s'est affirmée et solidifiée.
      </p>

      <p>
        Au fil du temps, ces petits projets se sont transformés en défis plus
        complexes, où j'ai commencé à explorer différentes technologies et
        frameworks. Ma soif d'apprendre m'a poussé à plonger dans des domaines
        variés, du développement web à l'UX/UI, en passant par le front-end et
        le back-end. Chaque nouvelle compétence acquise me permettait de mieux
        comprendre l'ensemble de l'écosystème du développement et d'affiner ma
        vision des projets. Ce qui n'était au départ qu'une simple distraction
        est devenu une véritable vocation, me poussant à constamment évoluer et
        à repousser mes propres limites.
      </p>
    </div>
  </div>
  <img alt="" src="assets/img/ex.webp">
  <div>
    <h2>
      mon parcours de développeur est une symphonie d'apprentissage constant, de defis surmontés et de projets qui prennent vie à travers le code.
    </h2>

    <p>
      Mon parcours de développeur est véritablement une symphonie d'apprentissage constant, rythmé par des défis que j'ai su surmonter et des projets qui ont pris vie à travers le code. Chaque ligne écrite, chaque bug résolu, m'a permis d'affiner mes compétences et de mieux comprendre les rouages complexes du développement. C'est un voyage où l'évolution personnelle et technique s'entrelacent, me poussant à innover, à expérimenter, et à toujours chercher de nouvelles façons d'améliorer mes créations. Chaque projet, petit ou grand, représente une étape dans cette quête d'excellence, un morceau unique dans la mélodie de mon développement.
    </p>
  </div>
</main>
<app-footer></app-footer>
